#imagem-header {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header {
    background-color: #A0A0A0;
    border: 1px solid #303030;
    border-radius: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D8D8D8;
}

a {
    text-decoration: none;
    color: blue;
}

footer {
    font-size: small;
    display: block;
    text-align: center;
    background-color: #A0A0A0;
    color: #303030;
    padding: 2px;
    border: 1px solid #303030;
    border-radius: 16px;
    margin-top: 10em;
}

footer a {
    color: #5555ff
}

.content {
    margin-left: 2em;
}

.mapaSite {
    border: 1px solid #303030;
    border-radius: 10px;
    background-color: #A0A0A0;
    width: 10%;
}