@import 'open-color.css';

/* Opções universais */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background-unblured.png');
    color: var(--oc-gray-9);
}

a {
    color: var(--oc-gray-9);
}

.a-no-under {
    text-decoration: none;
}

.indent {
    margin-left: 2em;
}

.ul-none {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}


/* Barra de navegação */

#logo {
    display: inline-block;
    height: 5em;
    width: auto;
    padding: 0;
    margin: 0;
}

.nav {
    background-color: var(--oc-gray-1);
    margin: 0;
    width: 100%;
    border: 1px solid var(--oc-gray-5);
    border-radius: 10px;
}

.nav-list {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    vertical-align: top;
}

.nav-list li {
    display: inline-block;
    background-color: var(--oc-gray-3);
    padding: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.nav-list li:hover {
    background-color: var(--oc-gray-3);
}


/* Conteúdo */

.content {
    margin-top: 2em;
}

.content .card {
    background-color: var(--oc-gray-1);
    border: 1px solid var(--oc-gray-5);
    border-radius: 10px;
    margin-bottom: 1em;
}


/* Roda-pé */

.footer {
    margin-top: 2em;
    background-color: var(--oc-gray-1);
    border: 1px solid var(--oc-gray-5);
    border-radius: 10px;
    color: var(--oc-gray-7);
    text-align: center;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    color: var(--oc-gray-7);
}